*{
    box-sizing: border-box;
}

.col-md-2{
    padding: 4px;
    margin: 0;
}
.product{
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    width: 100%;
}

.image {
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
}
.image img{
    max-height: 250px;
    width: 100%;
    max-width: 200px;
    object-fit: cover;
    border-radius: 10px;
    border-end-end-radius: 0;
    border-end-start-radius: 0;
}

.info p{
    /* max-width: 90px; */
    padding: 0;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}

.info-price{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: right;
    padding: 10px;
    line-height: 1;
}

.prices{
    justify-content: start;
}
.current-price{
    font-size: 17px;
    font-weight: bolder;
}
.real-price{
    font-size: 14px;
}

.view{
    border: none;
    width: 40px;
    height: 40px;
    justify-content: center;
    text-align: center;
    background-color: rgb(179, 179, 179);
    color: #fff;
    border-radius: 10px;
}

.view:hover{
    background-color: rgb(135, 135, 135);
}

@media (max-width: 408px) {
    .info p{
        padding: 0;
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 13px;
    }
    .container{
        padding: 30px;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {

}